shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false

public-hoist-pattern[]=@css-render/vue3-ssr
public-hoist-pattern[]=vueuc
public-hoist-pattern[]=naive-ui

registry=https://registry.npmmirror.com/

